@import 'c/orthofixSharedStyles';

.slds-modal__container{
    max-width: 90% !important;
    width: 1300px !important;

    @media screen and (max-width: 767px){
        margin-left: auto;
        margin-right: auto;
    }
}
.button-margin{
    /* margin-bottom: 130px; */
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    /* border-color: #0b5cab !important; */
}
.thstyle{
    width: 10% !important;
}
.icon-class{
    fill: green !important;
}

.icon-class-delete{
    --slds-c-icon-color-foreground: #CB0015 !important;
}
/* .slds-button_icon-x-small .slds-button__icon, .slds-button--icon-x-small .slds-button__icon {
    color: red !important;
} */

.of-document-upload-table th, .of-document-upload-table td {
    max-width: 27vw;
    padding-left: 2px;
    padding-right: 2px;
}
.of-document-upload-table th > div, .of-document-upload-table td > div {
    padding-left: 2px;
    padding-right: 2px;
}

.sm-buttons-container{
    display: flex;
}

.other-required::before {
    content: " *";
    color: rgb(234, 0, 30);
    margin: 0.125rem;
}





thead tr, tbody tr{
    display: flex; 
    flex-direction: column; 
    justify-content: center;
}

.flex{
    display: flex;
    justify-content: space-around;
}

 .flex-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 3.5rem;
}


.of-form-upload__table-mobile thead tr{
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
    border-color:  #cdc5c5 ;
    border-width: 1px;
    border-style: solid;
    margin-bottom: 10px;
    
}

.of-form-upload__table-mobile th:not(:last-child) {
    border-bottom: 1px solid #cdc5c5;
}

.of-form-upload__table-mobile tbody tr {
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
    border-color: #cdc5c5;
    border-width: 1px;
    border-style: solid;
    margin-bottom: 10px;
    border-left: none;
}

.of-form-upload__table-mobile td {
    /* border-width: 1px;
    border-color: #cdc5c5;
    border-style: solid;
    border-left: 0; */
    max-width: none;
    padding-left: 10px;
    border-bottom: 1px solid #cdc5c5;
    border-left: none;
}
.of-form-upload__table-mobile td:last-child {
    border-bottom: 0;
}

.of-form-upload__table-h-center{
    display: flex;
    justify-content: center;

}

.of-form-upload__table-actions{
    display: flex;
    column-gap: 25px;
    align-items: center;
}

.of-form-upload__add{
    display: flex;
    justify-content: center;
}

.of-form-upload__upload{
    display: flex;
    justify-content: center;
}

.of-form-upload__sign{
    display: flex; 
    justify-content: center;
    padding-top: 20px;
}

.of-form-upload__upload-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.of-form-upload__table-mobile tbody{
    flex: 1 1 0;
} 



  @media (min-width: 768px) {


    tbody{
          flex: none; 
    }

    tbody tr{
        display: table-row; 
        margin-bottom: 0; 
    }

    thead tr{
        display: table-row; 
        margin-bottom: 0; 
        border-radius: 0; 
    }

    thead tr:not(:first-child) {
      display: none;
    }
  }

  @media (max-width: 768px){
    .mobile-card{
        box-shadow: rgba(0, 0, 0, 0.35) 2px 3px 6px;
        border: #cac1c1 solid 1px;
        border-radius: 0.25rem;
        padding: 0.5rem
    }
  }