.green-icon{
    --slds-c-icon-color-foreground-default:green;
}
.slds-modal__header {
    border-bottom-style: none !important;
}




@media  (max-width: 767px) {
    .mobile-hide{
        display: none;
    }

}