/* @import 'c/orthofixSharedStyles'; */
:host {
    display: flex;
    justify-content: flex-end;
}
/* .my-class-sample{
    background-color: red;
}

.my-class-sample button{
    color: yellowgreen;
} */